<% if user_signed_in? %>
<div class="container">
<h1>All Batches</h1>


<!-- WILL HAVE TO CHANGE LATER ON, AND REPLACE WITH SEED DATA -->
  <div class="row">
    <div class="col-md-3">
      <a href="batch1">
        <div class="well">
          <h5>Batch 1</h5>
          <p>January 1st to March 3rd 2016</p>
        </div>
      </a>
    </div>

      <div class="col-md-3">
        <a href="batch2">
          <div class="well">
            <h5>Batch 2</h5>
            <p>January 1st to March 3rd 2016</p>
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <a href="batch3">
          <div class="well">
            <h5>Batch 3</h5>
            <p>January 1st to March 3rd 2016</p>
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <a href="batch4">
          <div class="well">
            <h5>Batch 4</h5>
            <p>January 1st to March 3rd 2016</p>
          </div>
        </a>
      </div>
    </div>

  <div class="row">
    <div class="col-md-3">
      <a href="batch5">
        <div class="well">
          <h5>Batch 5</h5>
          <p>January 1st to March 3rd 2016</p>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="batch6">
        <div class="well">
          <h5>Batch 6</h5>
          <p>January 1st to March 3rd 2016</p>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="batch7">
        <div class="well">
          <h5>Batch 7</h5>
          <p>January 1st to March 3rd 2016</p>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="batch8">
        <div class="well">
          <h5>Batch 8</h5>
          <p>January 1st to March 3rd 2016</p>
        </div>
      </a>
    </div>
  </div>

    <div class="row">
      <div class="col-md-3">
        <a href="batch9">
          <div class="well">
            <h5>Batch 9</h5>
            <p>January 1st to March 3rd 2016</p>
          </div>
        </a>
      </div>
    </div>
  </div>

<%else %>
  <div style="text-align: center;">

  <h3>Welcome to Codailuate, Codaisseur's student evaluation system</h3>
  <br>

  <h5>Please <%= link_to "Sign In", new_user_session_path%> to view the content</h5>
  </div>

<% end %>
